@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

body {
  /* background-color:  rgb(26, 24, 24); */
  background-color: black;
}

body::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}

nav {
  font-family: "Ubuntu", sans-serif;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 46px;
  background-color: black;
  color: rgba(255, 255, 255, 0.5);
}

nav ul li {
  padding: 0 19px;
}

.home {
  font-weight: bolder;
  font-size: 20px;
  margin-left: 300px;
  color: #fff;
}

.home:hover {
  font-weight: bolder;
  cursor: pointer;
  color: #fff;
}

.explore {
  font-size: 20px;
  font-weight: bolder;
}

.explore:hover {
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
}

.library {
  font-size: 20px;
  font-weight: bolder;
  margin-right: -160px;
}

.library:hover {
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
}

nav .search {
  display: flex;
  margin-left: 180px;
  align-items: center;
  padding: 0;
}

.search:hover{
  color: white;
}

nav .searchbar {
  margin-left: 1%;
}

.searchicon {
  margin-left: 0px;
  cursor: pointer;
}

.search .searchbar input {
  color: white;
  width: 110%;
  padding: 4px 0;
  border-radius: 12px;
  padding-left: 10px;
  border-style: ridge;
  border-width: -1px;
  outline: 0;
  background-color: transparent;
}

.signIn {
  margin-left: 285px;
  padding-right: 0%;
}

.userIcon {
  /* background: transparent; */
  /* background-color: yellow; */
  background-color: rgba(255, 255, 255, 0.5);;
  margin-top: 4px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: transparent;
  /* border-color: white; */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.userIcon:hover {
  background-color: red;
}

.user {
  background-color: black;
  height: 27px;
  width: 27px;
  border-radius: 50%;
  border-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5px;
}

.fa-user {
  margin: auto;
  margin-bottom: 4px;
}

.userIcon:hover .fa-user{
  color: white !important;
}

.userIcon:hover .user{
  background-color: black;
  opacity: 0.75;
}

.brand img {
  padding: 2px;
}

.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.3rem;
}

.brand:hover {
  cursor: pointer;
}

.cont {
  display: flex;
}

.container1 {
  min-height: 62.5vh;
  background-color: black;
  color: whitesmoke;
  font-family: "Varela Round", sans-serif;
  overflow: scroll;
  /* display: flex; */
  width: 65%;
  margin: 16.3px;
  margin-left: 19px;
  padding: 34px;
  border-radius: 12px;
}

.container1 .songList {
  margin-left: 10px;
  margin-bottom: 4px;
}

.container1::-webkit-scrollbar {
  display: none;
}

.container2 {
  color: white;
  background-color: black;
  height: 403px;
  width: 400px;
  font-family: "Varela Round", sans-serif;
  margin: 2px 2px;
  border-radius: 12px;
  padding: 34px;
  padding-top: 11px;
  padding-left: 11px;
  padding-right: 11px;
}

::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #4e4d4d; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #313030; 
}

.container2 .bars{
  width: 100%;
  height: 40px;
  background-color: black;
  display: flex;
  font-weight: bolder ;
  /* justify-content: space-evenly; */
  align-items: flex-start;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-bottom: 1px;
}

.borderUpNext{
  margin-left: 0px;
  width: 50%;
  height: 100%;
  border-bottom: 1px solid white;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.borderUpNext:hover{
  background-color: rgb(10, 10, 10);
}

.borderLyrics{
  margin-left: 0px;
  width: 50%;
  height: 100%;
  border-bottom: 1.5px solid rgb(18, 18, 18);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.borderLyrics:hover{
  background-color: rgb(10, 10, 10);
}

.holder{
  height: 380px;
  width: 398px;
  overflow: hidden;
}

.holder:hover{
  overflow-y: scroll;
}

.tabs{
  width: 100%;
  height: 30px;
  background-color: black;
  margin-top: 20px;
  display: flex;
  overflow-x: scroll;
}

.tabs::-webkit-scrollbar{
  display: none;
}

.tabItems{
  background-color: rgb(33, 32, 32);
  display: flex;
  align-items: center;
  margin-right: 17px;
  margin-left: 2px;
  padding: 0 8px;
  border-radius: 7px;
  cursor: pointer;
  font-size: 14px;
}

#ti1{
  background-color: whitesmoke;
  color: black;
}

.tabItems:hover{
  background-color: #2b2a2a;
}

.getSongs{
  overflow: scroll;
  margin-top: 30px;
  cursor: all-scroll;
}

.getSongs::-webkit-scrollbar {
  display: none;
}

.playing{
  background-color: black;
  height: 50px;
  width: 100%;
  border-bottom: 0.5px solid rgb(44, 42, 42);
  display: flex;
  align-items: center;
  /* position: absolute; */
}

.playing .pic{
  background-color: rgb(41, 40, 40);
  background-size: 35px;
  height: 35px;
  width: 35px;
  margin-right: 10px;
  margin-left: 2px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.darken{
  height: 100%;
  width: 100%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: black; */
}

.picIcon{
  height: 50%;
  width: 50%;
  z-index: 3;
  background-color: transparent;
  padding-left: 2px;
  border-radius: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 2px; */
  filter: brightness(2);
  cursor: pointer;
}

.playing:hover .darken{
  backdrop-filter: brightness(20%);
}

.playing .trackdetail{
  background-color: black;
  height: 35px;
  width: 235px;
  margin-right: 10px;
  margin-left: 2px;
  font-size: 14px;
}

.trackdetail .trackName{
  height: 50%;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: flex-start;
  padding-left: 2px;
  font-weight: bolder;
}

.trackdetail .trackArtist{
  margin-top: 2px;
  height: 50%;
  width: 100%;
  background-color: black;
  color: #A4A4A4;
  display: flex;
  align-items: flex-start;
  padding-left: 2px;
}

.playing .trackDuration{
  background-color: black;
  /* color: black; */
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #A4A4A4;
}

.bottom {
  position: sticky;
  height: 67px;
  bottom: 0;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #212121;
  flex-direction: column;
  background-blend-mode: transparent;
  /* display: none; */
}

.icons {
  margin-top: 13px;
  margin-left: 9px;
  height: 35px;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.icons div{
  margin-right: 35px;
}

.icons i {
  cursor: pointer;
  /* margin-right: 35px; */
}

.playIcon{
  width: 22px;
}

.setProgress {
  background-color: #212121;
  width: 100%;
  height: 12px;
  display: flex;
  align-items: center;
}

.setProgress:hover {
  cursor: pointer;
}

.seekBar{
  width: 100%;
}

.fnd{
  margin-top: -18px;
}

#ProgressBar{
  width: 99%;
  cursor: pointer;
  opacity: 0;
}

#myProgressBar {
  height: 2.5px;
  width: 99%;
  cursor: pointer;
  margin-top: -15px;
  background: crimson;
  accent-color: red;
}


#volume{
  height: 3px;
  width: 75px;
  accent-color: white;
  cursor: pointer;
  border-radius: 2px;
  /* margin-top: 30px; */
  margin-right: 10px;
  visibility: hidden;
}

#volhigh{
  cursor: pointer;
}

.controlVolume{
  margin-left: 520px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.vol{
  margin: auto;
  margin-top: 19px;
}

.songcontainer {
  height: 319px;
  overflow-y: scroll;
}

.songcontainer::-webkit-scrollbar {
  display: none;
}

.songName {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 215px;
  height: 280px;
  font-size: small;
  font-weight: bold;
}

.Name {
  margin-top: 15px;
  margin-bottom: 2px;
}

.songItem {
  margin-top: 8px;
  height: 201px;
  width: 201px;
  display: flex;
  background-color: #b49de6;
  background-image: url(covers/1.jpg);
  background-size: 201px;
  color: black;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
}

.songItem:hover {
  opacity: 0.75;
}

.songItemPlay {
  color: white;
  font-size: 150px;
  margin: auto;
}

.currentSong{
  /* background-color: #b49de6; */
  display: flex;
  align-items: center;
  /* width: 300px; */
  margin: auto;
  margin-right: 10px;
  margin-top: 10px;
  margin-left: 95px;
}

.banner{
  /* background-color: #b49de6; */
  height: 45px;
  width: 45px;
  background-image: url(covers/1.jpg);
  background-size: 45px;
}

.details{
  display: flex;
  width: 400px;
  flex-direction: column;
  margin-left: 15px;
  /* background-color: white;
  height: 10px;
  width: 10px; */
}

a:link {
  color:  #A4A4A4;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color:  #A4A4A4;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.timestamp {
  margin-left: 23px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.timestamp button {
  border: none;
  cursor: pointer;
  border-radius: 19px;
}

.btnpl {
  display: flex;
  align-items: center;
  margin: auto;
  border-radius: 50%;
  border-color: transparent;
  background: transparent;
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: relative;
}

.getName {
  width: 100%;
}

.getTime {
  display: flex;
  width: 20px;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
  margin-top: 5px;
}
#timer {
  margin-top: 2px;
  margin-right: 5px;
}
#maxTime {
  margin-top: 2px;
  margin-left: 5px;
}
.controls {
  display: flex;
}
.actionBar {
  display: flex;
  margin-bottom: 4px;
  margin-top: -8px;
  flex-direction: row;
  margin-left: 9px;
}

.slash {
  margin-top: 4px;
}

.likeDislikeEllipsis{
  display: flex;
  justify-content: space-between;
  align-items: center ;
  margin-top: 5px;
  /* margin-left: 370px; */
  margin-right: -470px;
}

.dislike{
  border-radius: 50%;
  height: 40px;
  width: 40px;
  /* background-color: #b49de6; */
  margin-right: 10px;
  cursor: pointer;
}

.dislike i{
  margin-top: 9px;
  margin-left: 10px;
}

.dislike:hover{
  background-color: rgb(54, 52, 52);
  opacity: 1;
}

.like{
  border-radius: 50%;
  height: 40px;
  width: 40px;
  /* background-color: #b49de6; */
  margin-right: 30px;
  cursor: pointer;
}

.like:hover{
  background-color: rgb(54, 52, 52);
  opacity: 1;
}

.like i{
  margin-top: 9px;
  margin-left: 10px;
}

.Kebab{
  border-radius: 50%;
  height: 40px;
  width: 40px;
  /* background-color: #b49de6; */
  margin-right: 10px;
  margin-left: -19px;
  cursor: pointer;
}

.Kebab svg{
  margin-top: 11px;
  margin-left: 10px;
}
.Kebab:hover{
    background-color: rgb(54, 52, 52);
    opacity: 1;
}

.download{
  margin: auto;
  margin-top: 23px;
  margin-left: 30px;
  cursor: pointer;
}

.download:hover .fa-download{
  color: white !important;
}

.shuffle{
  margin: auto;
  margin-top: 23px;
  margin-left: 30px;
  cursor: pointer;
}

.caret{
  margin: auto;
  margin-top: 18px;
  margin-left: 30px;
  cursor: pointer;
}

.gif{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -16px;
  margin-right: 15px;
  /* margin-left: 200px; */
}

.gifImg{
  height: 15px;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

/* footer{
  background-color: #676767;
  color: #F0F0F0;
  padding: 4px 1px;
  font-size: 12px;
  text-align: center;
  border: 1px solid #949393;
  margin-top: 10px;
} */