@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
body {
  /* background-color:  rgb(26, 24, 24); */
  background-color: #b49de6;
}
* {
  margin: 0;
  padding: 0;
}
nav {
  font-family: "Ubuntu", sans-serif;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 65 px;
  background-color: black;
  color: white;
}
nav ul li {
  padding: 0 12px;
}
.home:hover{
  font-weight: bolder;
  cursor: pointer
}
.about:hover{
  font-weight: bolder;
  cursor: pointer;
}
nav .search{
  display: flex;
  margin-left: 180px;
  align-items: center;
  padding: 0;
}
nav .searchbar{
  margin-left: 1%;
}
.searchicon{
  margin-left: 160px;
  cursor: pointer;
}
.search .searchbar input{
  color: white;
  width: 200%;
  padding: 4px 0;
  border-radius: 12px;
  padding-left: 10px;
  border-style: ridge;
  border-width: -1px;
  outline: 0;
  background-color: transparent;
}
.brand img {
  width: 42px;
  padding-top: 2%;
  padding-bottom: 1%;
  padding-left: 2px;
  padding-right: 4px;
  font-family: "Varela Round", sans-serif;
}
.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.3rem;
}
.brand:hover{
  cursor: pointer;;
}
.cont{
  display: flex;
}
.container1 {
  min-height: 61vh;
  background-color: black;
  color: whitesmoke;
  font-family: "Varela Round", sans-serif;
  overflow: scroll;
  /* display: flex; */
  width: 65%;
  margin: 16.3px;
  margin-left: 19px;
  padding: 34px;
  border-radius: 12px;
  background-image: url("marcela-laskoski-YrtFlrLo2DQ-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: 820px;
}
.container1 .songList{
  margin-left: 10px;
  margin-bottom: 4px;
}
.container1::-webkit-scrollbar{
  display: none;
}
.container2{
  color: white;
  background-color: black;
  width: 440px;
  font-family: "Varela Round", sans-serif;
  margin: 2px 2px;
  border-radius: 12px;
  padding: 34px;
  padding-top: 11px;
  padding-left: 11px;
  padding-right: 11px;
}
.container2 .heading{
  padding: 2px 4px;
  border-bottom-style: outset;
  border-width: -2px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}
.bottom {
  position: sticky;
  height: 75px;
  bottom: 0;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  background-color: black;
  flex-direction: column;
  background-blend-mode: transparent;
}
.icons {
  margin-top: 10px;
}
.icons svg {
  padding: 0 4px;
  cursor: pointer;
}
#myProgressBar {
  width: 60vw;
  cursor: pointer;
  margin-top: 3px;
}
.songcontainer{
  overflow-y: scroll;
}
.songcontainer::-webkit-scrollbar{
  display: none;
}
.songItem{
  margin-top: 8px;
  height: 27px;
  display: flex;
  background-color: white;
  color: black;
  border-radius: 24px;
  width: 40%;
  justify-content: space-between;
  align-items: center;
  opacity: 0.65;
  cursor: pointer;
}
.songItem:hover{
  opacity: 0.9;
}
.songItem img{
  width: 25px;
  margin: 0 13px;
  border-radius: 34px;
}
.timestamp{
  margin-left: 23px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.timestamp button{
  border: none;
  cursor: pointer;
  border-radius: 19px;
}
.btnpl{
  display: flex;
  align-items: center;
  /* margin-top: px; */
  margin-left: 5px;
}
.getName{
  width:100%;
}