@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

body {
  /* background-color:  rgb(26, 24, 24); */
  background-color: black;
}

body::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}

nav {
  font-family: "Ubuntu", sans-serif;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 46px;
  background-color: black;
  color: rgba(255,255,255,0.5);
}

nav ul li {
  padding: 0 19px;
}

.home{
  font-weight: bolder;
  font-size: 20px;
  margin-left: 300px;
  color: #fff;
}

.home:hover {
  font-weight: bolder;
  cursor: pointer;
  color: #fff;
}

.explore{
  font-size: 20px;
  font-weight: bolder;
}

.explore:hover {
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
}

.library{
  font-size: 20px;
  font-weight: bolder;
  margin-right: -160px;
}

.library:hover {
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
}

nav .search {
  display: flex;
  margin-left: 180px;
  align-items: center;
  padding: 0;
}

nav .searchbar {
  margin-left: 1%;
}

.searchicon {
  margin-left: 0px;
  cursor: pointer;
}

.search .searchbar input {
  color: white;
  width: 110%;
  padding: 4px 0;
  border-radius: 12px;
  padding-left: 10px;
  border-style: ridge;
  border-width: -1px;
  outline: 0;
  background-color: transparent;
}

.brand img {
  padding: 2px;
}

.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.3rem;
}

.brand:hover {
  cursor: pointer;
}

.cont {
  display: flex;
}

.container1 {
  min-height: 62.5vh;
  background-color: black;
  color: whitesmoke;
  font-family: "Varela Round", sans-serif;
  overflow: scroll;
  /* display: flex; */
  width: 65%;
  margin: 16.3px;
  margin-left: 19px;
  padding: 34px;
  border-radius: 12px;
}

.container1 .songList {
  margin-left: 10px;
  margin-bottom: 4px;
}

.container1::-webkit-scrollbar {
  display: none;
}

.container2 {
  color: white;
  background-color: black;
  width: 440px;
  font-family: "Varela Round", sans-serif;
  margin: 2px 2px;
  border-radius: 12px;
  padding: 34px;
  padding-top: 11px;
  padding-left: 11px;
  padding-right: 11px;

}

.container2 .heading {
  padding: 2px 4px;
  border-bottom-style: outset;
  border-width: -2px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.bottom {
  position: sticky;
  height: 67px;
  bottom: 0;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #212121;
  flex-direction: column;
  background-blend-mode: transparent;
}

.icons {
  margin-top: 10px;
}

.icons svg {
  cursor: pointer;
}

.setProgress{
  background-color: #212121;
  width: 100%;
  height: 12px;
  display: flex;
  align-items: center;
}

.setProgress:hover{
  cursor:pointer
}

#myProgressBar {
  height: 2.5px;
  width: 99%;
  cursor: pointer;
  margin-top: -15px;
  background: crimson;
  accent-color: red;
}

#myProgressBar:hover{
  height: 4px;
}

.songcontainer {
  height: 319px;
  overflow-y: scroll;
}

.songcontainer::-webkit-scrollbar {
  display: none;
}

.songName{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 215px;
  height: 280px
}

.Name{
  margin-top: 2px;
}

.songItem {
  margin-top: 8px;
  height: 201px;
  width: 201px;
  display: flex;
  background-color: #b49de6;
  background-image: url(covers/1.jpg);
  background-size: 201px;
  color: black;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
}

.songItem:hover{
  opacity: 0.75;
}

.songItemPlay{
  color: white;
  font-size: 150px;
  margin: auto;
}

a:link{
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

.row1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.row2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.row3{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.timestamp {
  margin-left: 23px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.timestamp button {
  border: none;
  cursor: pointer;
  border-radius: 19px;
}

.btnpl {
  display: flex;
  align-items: center;
  margin: auto;
  border-radius: 50%;
  border-color: transparent;
  background: transparent;
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: relative;
}

.getName {
  width: 100%;
}

#banner{
  background-color: #b49de6;
  margin: 0 90px;
  margin-top: 22px;
  height: 210px;
  width: 210px;
}
#banner img{
  max-width: 100%;
  max-height: 100%;
  display: block;
}
.getTime{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
  margin-top: 5px;
}
#timer{
  margin-top: 2px;
  margin-right: 5px;
}
#maxTime{
  margin-top: 2px;
  margin-left: 5px;
}
.controls{
  display: flex;
}
.actionBar{
  display: flex;
  margin-bottom: 4px;
  margin-top: -8px;
  flex-direction: row;
  margin-left: 9px;
}

.slash{
  margin-top: 4px;
}